# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environments
venv/
env/
ENV/
.env

# IDEs / Editor
.vscode/
.idea/
*.swp
.DS_Store
